<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>nShape</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="css/{{Style}}" />
  </head>
  <body>

  <section class="hero is-medium">
    <div class="hero-head">
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item is-active">
                nShape
              </a>
              <a class="navbar-item is-active">
                Home
              </a>
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                    <span>Login or Sign Up</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <a href="./LoginPage.html" class="dropdown-item is-active">
                        Login
                      </a>
                      <a href="./SignUpPage.html" class="dropdown-item is-active">
                        Sign Up
                      </a>
                    </div>
                  </div>
                </div>
              </div>
                </div>
              </div>
                </div>
            </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
        <div class="columns">
            <div class="column1">
                <div class="column is-15 featured-content">
              <p><Strong>The Start of Being the Best You</Strong></p>
            </div>
        </div>
            <div class="column2">
              <img src="./assets/images/logo image.JPG" alt="Company logo 'nShape'">
            </div>
  </section>
</section>
<section class="section">
  <div class="container">
    <h1 class="title">About Us</h1>
    <h2 class="subtitle">
      When starting your journey in the gym everyone needs a starting point. You may feel that you do not have enough knowedge to create your own workouts or feel burnt out doing the same ones. That is where we come in! nShape provides workouts for you to follow from weight loss to body building. Even including at home workouts! 
    </h2>
  </div>
</section>
          <div class="columns is-multiline">
            <div class="column post is-3">
                <div class="column is-12 post-img">
                  <img src="./assets/images/fatloss.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Fat Loss Workout</h1>
                  <h3 class="heading post-category">HIIT Based Workout</h3>
                  <p class="post-excerpt">High-Intensity Interval Training. This training is a cardiovascular exercise alternating short periods of intense exercise with less intense recover periods.</p>
                  <br>
                </div>
              </article>
            </div>
            <div class="column post is-3">
                <div class="column is-12 post-img">
                  <img src="./assets/images/Strength.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Strength Gain</h1>
                  <h3 class="heading post-category">Body Building</h3>
                  <p class="post-excerpt">This training will focus on low repition high weight. Resulting in larger more bulky look. This workout is typically used by those with expierience working out.</p>
                  <br>
                </div>
              </article>
            </div>

            <div class="column post is-3">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="./assets/images/tone.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">At home workouts</h1>
                  <h3 class="heading post-category">Workout in the Comfort of your home! No Weights required</h3>
                  <p class="post-excerpt">If you are low on time or money. This is a great alternative to going to the gym. This workout is a fat loss based workout to help boost metabolism and cardio</p>
                  <br>
                </div>
              </article>
            </div>
        </div>
      </div>
  </section>
</body>