<section class="section">
  <div class="container">
    <h1 class="title">About Us</h1>
    <h2 class="subtitle">
      When starting your journey in the gym everyone needs a starting point. You may feel that you do not have enough knowedge to create your own workouts or feel burnt out doing the same ones. That is where we come in! nShape provides workouts for you to follow from weight loss to body building. Even including at home workouts! 
    </h2>
  </div>
</section>
          <div class="columns is-multiline">
            <div class="column post is-3">
                <div class="column is-12 post-img">
                  <img src="/images/fatloss.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Fat Loss Workout</h1>
                  <h3 class="heading post-category">HIIT Based Workout</h3>
                  <p class="post-excerpt">High-Intensity Interval Training. This training is a cardiovascular exercise alternating short periods of intense exercise with less intense recover periods.</p>
                  <br>
                </div>
              </article>
            </div>
            <div class="column post is-3">
                <div class="column is-12 post-img">
                  <img src="/images/Strength.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">Strength Gain</h1>
                  <h3 class="heading post-category">Body Building</h3>
                  <p class="post-excerpt">This training will focus on low repition high weight. Resulting in larger more bulky look. This workout is typically used by those with expierience working out.</p>
                  <br>
                </div>
              </article>
            </div>

            <div class="column post is-3">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="/images/tone.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h1 class="title post-title">At home workouts</h1>
                  <h3 class="heading post-category">Workout in the Comfort of your home! No Weights required</h3>
                  <p class="post-excerpt">If you are low on time or money. This is a great alternative to going to the gym. This workout is a fat loss based workout to help boost metabolism and cardio</p>
                  <br>
                </div>
              </article>
            </div>
        </div>
      </div>
  </section>